body{
    background-color: white;    
    margin-left: 9rem;
    margin-right: 9rem;
    margin-top: 3rem;
    color:rgb(68, 68, 68);
}

header{
    font-family: 'Francois One', sans-serif;
}

.title{
    text-decoration: none;
    font-size: 20px;
    color: rgb(68, 68, 68);
    font-weight: 400;
}

.navbutton{
    text-decoration: none;
    font-size: 18px;
    color: rgb(68, 68, 68);
    font-weight: 400;
}

.navbutton1{
    text-decoration: none;
    font-size: 18px;
    color: #ED5E33;
    font-weight: 400;
}

nav{
    float: right;
    word-spacing: 28px;
}

.intro{
    margin-top: 7rem;
    text-align: center;
    margin-left: 12rem;
    margin-right: 12rem;
}
.tagline{
    font-family: 'Francois One', sans-serif;
    font-size: 60px;
    color: black;
    background-color: #F4F7FF;
    /* background-image: url(images/pitt.png); */
    margin-left: -21rem;
    margin-right: -21rem;
    padding-bottom: 30px;
    padding-top: 30px;
}

p{
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
h3{
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
    color: black;
}

button{
    border: none;
    background-color: #3250BD;
    color: white;
    text-align: center;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'open sans', sans-serif;
    font-weight: 530;
}

.locations{
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

h1{
    font-family: 'Francois One', sans-serif;
    color: black;
    font-size: 45px;
}
.productbg{
    background-color: #F4F7FF;
    margin-left: -21rem;
    margin-right: -21rem;
    padding-bottom: 10px;
    padding-top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .grid-container-2 {
    display: grid;
    grid-template-columns: 55% 45%;
    /* background-color: #2196F3; */
    padding: 10px;
    margin-left: 5rem;
    margin-right: 5rem;
  }

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
.display{
    margin-top: 5rem;
}

.productdetail{
    font-family: 'open sans', sans-serif;
    /* padding-left: 3rem; */
    text-align: left;
    line-height: 5%;
    padding-right: 1rem;
}

h2{
    font-family: 'Francois One', sans-serif;
    color: black;
    font-size: 50px;
}

h4{
    font-family: 'open sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.des{
    line-height: 150%;
}

.options{
    padding-bottom: 15px;
}

h5{
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    font-style: italic;
}

.checkoutgrid{
    margin-top: 70px;
    margin-left: 4rem;
    margin-right: 4rem;
    
}

.checkout{
    margin-left: 5rem;
    margin-right: 5rem;
}

.row{
    padding-bottom: 1.5rem;
    display: flex;
}
.column{
    padding-left: 50px;
}

.totalcheckout{
    text-align: right;
    padding-bottom: 50px;
    padding-top: 10px;
    align-items: flex-end;
}
.trash{
    all:revert;
    background-color: white;
    border:none;
}
